@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'bankgothic_md_btmedium';
	../fonts/
    src: url('bank_gothic_medium_bt-webfont.eot');
    src: url('../fonts/bank_gothic_medium_bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bank_gothic_medium_bt-webfont.woff2') format('woff2'),
         url('../fonts/bank_gothic_medium_bt-webfont.woff') format('woff'),
         url('../fonts/bank_gothic_medium_bt-webfont.ttf') format('truetype'),
         url('../fonts/bank_gothic_medium_bt-webfont.svg#bankgothic_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

li,ul,img,a,div{
	font-family: 'bankgothic_md_btmedium';
	border: 0;
	list-style:none;
}

#navbar{
	height:auto;
	width:auto;
	max-height:60px;
	min-width:990px;
	background-color:#f4f4f5;
	border-top:3px solid #2b3b74;
	border-bottom:3px solid #362e2c;
}

#logo{
	height:auto;
	width:200px;
}

#navbar li{
	float:left;
	height:auto;
	margin-right:50px;
}

#navbar li a:hover{
	text-shadow: 
               0 0 20px #2EA0C9,
               0 0 35px #FFFFFF;
}

#linkin{
	margin-top:26px;
	float:right;
}

#linkin a{
	color:#000000;
}

#linkicon{
	float:right;
	margin-left:0px;
	width:120px;
	margin-right:60px;
}

#turn-next{
	width:990px;
	text-align:center;
	margin-top:50px;
}

#turn-next p{
	font-family:Verdana;
	color:#6f625b;
	font-size:16px;
	margin-bottom:30px;
}

#about-us{
	width:990px;
}

#about-us1 h1{
	color:#2b3a73;
	font-size:24px;
}

#about-us1 h2{
	color:#9c9795;
	font-size:17px;
	text-indent:2em;
	text-align:justify;
	line-height:20px;
	padding-left:10px;
	padding-right:10px;
}

#ab2 h1{
	color:#323e76;
	font-size:23px;
}

#ab2 h2{
	color:#6d6d6d;
	font-size:21px;
}

#products{
	width:990px;
	margin-top:60px;
}

#products h2{
	color:#6d6d6d;
	font-size:18px;
}

#1-1{
	height:800px;
}

#1-2{
	height:600px;
}

#title{
	margin-bottom:20px;
}

#contuct{
	width:990px;
	margin-top:80px;
}

#footer{
	background-color:#e7e8e8;
	margin-top:50px;
}

#footer a{
	color:#8b8989;
}

#footernav{
	width:500px;
	height:80px;
}

#footernav li{
	margin-top:10px;
	margin-bottom:15px;
	float:left;
	height:auto;
	margin-left:40px;
}

#footernav p{
	text-align:center;
	color:#8b8989;
	font-size:13px;
}

#co1 p{
	font-family: 'bankgothic_lt_btlight';
	text-align:left;
	color:#bdb0a9;
	font-size:12px;
}

#InputName{
	margin-bottom:10px;
}

#InputEmail{
	margin-bottom:10px;
}

#Inputtext{
	margin-bottom:10px;
}

#por1{
	margin-top:60px;
	min-width:190px;
}

#por1 h1{
	font-size:21px;
	color:#605c8b;
	margin-left:-7px;
	font-style:italic;
}

#por1 h2{
	font-size:9px;
	line-height:0.1;
	color:#6f6e68;
}

#co2 tr{
	display:block;
	margin-bottom:10px;
	width:100%;
}

#co2 td{
	width:400px;
}
